@{
    ViewData["Title"] = "Student Portal";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Student Portal</h1>

</div>

<div class="text-center">
    <img src="~/images/the-batman-review_ua4p.jpg" class="detailImage" style="width: 80%; height: 80%;"/>
</div>

