@model cbsStudents.Models.Entities.Post


@{
    ViewData["Title"] = "Edit";
}

<h1>Create Post</h1>

<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await Html.PartialAsync("_CreateEditPost")
        </form>
    </div>
</div>



@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}